body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #202020;

    font-family: monospace;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.heading {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.container {
    display: grid;

    grid-template-rows: 4rem max-content;

    gap: 2rem;
    width: min(50%, 500px);
    aspect-ratio: 16/9;
}

.container > div {
    background-color: #303030;

    padding: 1rem;
    border-radius: 1rem;
}

.icon-input > svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
}

.required {
    color: #EF5552;
}